body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#game {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 500px; /* Увеличен макс. размер */
}

#tapArea {
    width: 400px; /* Увеличен размер */
    height: 400px; /* Увеличен размер */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; /* Увеличен размер шрифта */
    color: white;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    background-image: url('IMG_0033.png');
    background-size: cover;
    background-position: center;
    transition: transform 0.05s ease-in-out;
    position: relative; /* Для позиционирования элемента +0.0001 */
}

#tapArea:hover {
    transform: scale(1.05); /* Увеличиваем кнопку при наведении */
}

#coins {
    font-size: 48px; /* Увеличен размер шрифта */
    margin-bottom: 10px;
    color: #3D5A80;
}

.tap-feedback {
    position: absolute;
    color: #3D5A80;
    font-size: 24px; /* Увеличен размер шрифта */
    font-weight: bold;
    animation: tapFeedbackAnimation 1s forwards;
    opacity: 0;
}

@keyframes tapFeedbackAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

@media (max-width: 768px) {
    #tapArea {
        width: 300px; /* Увеличен размер */
        height: 300px; /* Увеличен размер */
        font-size: 24px; /* Увеличен размер шрифта */
    }
    #coins {
        font-size: 36px; /* Увеличен размер шрифта */
    }
    .tap-feedback {
        font-size: 20px; /* Увеличен размер шрифта */
    }
}

@media (max-width: 480px) {
    #tapArea {
        width: 250px; /* Увеличен размер */
        height: 250px; /* Увеличен размер */
        font-size: 20px; /* Увеличен размер шрифта */
    }
    #coins {
        font-size: 24px; /* Увеличен размер шрифта */
    }
    .tap-feedback {
        font-size: 18px; /* Увеличен размер шрифта */
    }
}
